<nav class="navbar navbar-expand-md row">
	<a class="nav-link col-1" href="javascript:void(0)" [routerLink]="['/home']"><i class="fa fa-home"></i>
		<span class="sr-only">(Home)</span></a>
</nav>
<div class="container-fluid">
	<div class="row m-t-xl" *ngIf="player">
		<div class="col-12">
			<table class="table table-striped">
				<thead>
				</thead>
				<tbody>
					<tr>
						<td><img src="{{player.imageURL}}" alt="{{player.name}}"></td>
						<td>{{player.profile}}</td>
					</tr>
					<tr>
						<td>Name</td>
						<td>{{player.fullName}}</td>
					</tr>
					<tr>
						<td>Country</td>
						<td>{{player.country}}</td>
					</tr>
					<tr>
						<td>Age</td>
						<td>{{player.currentAge}}</td>
					</tr>
					<tr>
						<td>Played with</td>
						<td>{{player.majorTeams}}</td>
					</tr>
				</tbody>
			</table>
			<table class="table" *ngIf="player.data.batting.ODIs">
				<thead class="thead-dark">
					<tr>
						<th colspan=7>ODIs</th>
					</tr>
				</thead>
				<tbody>
					<tr class="bg-title">
						<th colspan=7>batting</th>
					</tr>
					<tr>
						<th>Matches</th>
						<th>Runs</th>
						<th>50s</th>
						<th>100s</th>
						<th>Average</th>
						<th>Strike Rate</th>
						<th>Highest</th>
					</tr>
					<tr>
						<td>{{player.data.batting.ODIs.Mat}}</td>
						<td>{{player.data.batting.ODIs.Runs}}</td>
						<td>{{player.data.batting.ODIs[50]}}</td>
						<td>{{player.data.batting.ODIs[100]}}</td>
						<td>{{player.data.batting.ODIs.Ave}}</td>
						<td>{{player.data.batting.ODIs.HS}}</td>
						<td>{{player.data.batting.ODIs.SR}}</td>
					</tr>

					<tr class="bg-title">
						<th colspan=7>Bowling</th>
					</tr>
					<tr>
						<th>Matches</th>
						<th>Wickets</th>
						<th>5W</th>
						<th>10W</th>
						<th>Average</th>
						<th>Economy</th>
						<th>Best</th>
					</tr>
					<tr>
						<td>{{player.data.bowling.ODIs.Mat}}</td>
						<td>{{player.data.bowling.ODIs.Wkts}}</td>
						<td>{{player.data.bowling.ODIs["5w"]}}</td>
						<td>{{player.data.bowling.ODIs[10]}}</td>
						<td>{{player.data.bowling.ODIs.Ave}}</td>
						<td>{{player.data.bowling.ODIs.Econ}}</td>
						<td>{{player.data.bowling.ODIs.BBM}}</td>
					</tr>

				</tbody>
			</table>

			<table class="table m-t-xl" *ngIf="player.data.batting.T20Is">
				<thead class="thead-dark">
					<tr>
						<th colspan=7>T20s</th>
					</tr>
				</thead>
				<tbody>
					<tr class="bg-title">
						<th colspan=7>batting</th>
					</tr>
					<tr>
						<th>Matches</th>
						<th>Runs</th>
						<th>50s</th>
						<th>100s</th>
						<th>Average</th>
						<th>Strike Rate</th>
						<th>Highest</th>
					</tr>
					<tr>
						<td>{{player.data.batting.T20Is.Mat}}</td>
						<td>{{player.data.batting.T20Is.Runs}}</td>
						<td>{{player.data.batting.T20Is[50]}}</td>
						<td>{{player.data.batting.T20Is[100]}}</td>
						<td>{{player.data.batting.T20Is.Ave}}</td>
						<td>{{player.data.batting.T20Is.HS}}</td>
						<td>{{player.data.batting.T20Is.SR}}</td>
					</tr>

					<tr class="bg-title">
						<th colspan=7>Bowling</th>
					</tr>
					<tr>
						<th>Matches</th>
						<th>Wickets</th>
						<th>4W</th>
						<th>10W</th>
						<th>Average</th>
						<th>Economy</th>
						<th>Best</th>
					</tr>
					<tr>
						<td>{{player.data.bowling.T20Is.Mat}}</td>
						<td>{{player.data.bowling.T20Is.Wkts}}</td>
						<td>{{player.data.bowling.T20Is["4w"]}}</td>
						<td>{{player.data.bowling.T20Is[10]}}</td>
						<td>{{player.data.bowling.T20Is.Ave}}</td>
						<td>{{player.data.bowling.T20Is.Econ}}</td>
						<td>{{player.data.bowling.T20Is.BBM}}</td>
					</tr>
				</tbody>
			</table>

			<table class="table m-t-xl" *ngIf="player.data.batting.tests">
				<thead class="thead-dark">
					<tr>
						<th colspan=7>Tests</th>
					</tr>
				</thead>
				<tbody>
					<tr class="bg-title">
						<th colspan=7>batting</th>
					</tr>
					<tr>
						<th>Matches</th>
						<th>Runs</th>
						<th>50s</th>
						<th>100s</th>
						<th>Average</th>
						<th>Strike Rate</th>
						<th>Highest</th>
					</tr>
					<tr>
						<td>{{player.data.batting.tests.Mat}}</td>
						<td>{{player.data.batting.tests.Runs}}</td>
						<td>{{player.data.batting.tests[50]}}</td>
						<td>{{player.data.batting.tests[100]}}</td>
						<td>{{player.data.batting.tests.Ave}}</td>
						<td>{{player.data.batting.tests.HS}}</td>
						<td>{{player.data.batting.tests.SR}}</td>
					</tr>

					<tr class="bg-title">
						<th colspan=7>Bowling</th>
					</tr>
					<tr>
						<th>Matches</th>
						<th>Wickets</th>
						<th>5W</th>
						<th>10W</th>
						<th>Average</th>
						<th>Economy</th>
						<th>Best</th>
					</tr>
					<tr>
						<td>{{player.data.bowling.tests.Mat}}</td>
						<td>{{player.data.bowling.tests.Wkts}}</td>
						<td>{{player.data.bowling.tests["5w"]}}</td>
						<td>{{player.data.bowling.tests[10]}}</td>
						<td>{{player.data.bowling.tests.Ave}}</td>
						<td>{{player.data.bowling.tests.Econ}}</td>
						<td>{{player.data.bowling.tests.BBM}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
