<nav class="navbar navbar-expand-md row">
	<a class="nav-link col-1" href="javascript:void(0)" [routerLink]="['/home']"><i class="fa fa-home"></i>
		<span class="sr-only">(Home)</span></a>
</nav>
<main class="container-fluid">
	<p *ngIf="sqData == ''">
		Loading Match Squad ...
	</p>

	<div class="row">
		<div class="col-12 col-md-4" *ngFor="let sq of sqData?.squad">
			<h4>{{sq?.name}}</h4>
			<ul>
				<li *ngFor="let sqd of sq.players"><span (click)="playerStats(sqd.pid)">{{sqd?.name}}</span><a href="javascript:void(0)"
					 class="float-right add-icon" (click)="selectPlayers($event, sqd.pid, sqd.name)" [class.disabled]="playerList.length > 10"><i
						 class="fa fa-plus"></i></a></li>
			</ul>
		</div>
		<div class="col-12 col-md-4" *ngIf="playerList.length > 0">
			<h4>Selected players</h4>
			<ul>
				<li *ngFor="let players of playerList"><span>{{players?.playerName}}</span><a href="javascript:void(0)" class="minus-icon"
					 (click)="unSelectPlayers($event, players.playerId, players.playerName)"><i class="fa fa-minus float-right"></i></a></li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-center">
			<button class="btn btn-priary" [disabled]="playerList.length !== 11" (click)="finalList()">I'm Ready</button>
		</div>
	</div>
</main>