ul {
    li {
        list-style-type: none;
        height: 50px;
        width: 100%;
        background: #f0f0f0;
        padding: 12px;
        margin: 10px 0;
        &.selected {
            background-color: green;
        }
        a {
            &:hover {
                color: green;
            }
        }
    }
}
