<nav class="navbar navbar-expand-md row">
	<a class="nav-link col-1" href="javascript:void(0)" [routerLink]="['/home']"><i class="fa fa-home"></i>
		<span class="sr-only">(Home)</span></a>
</nav>
<main class="container-fluid">
	<div class="row align-items-center full-height">
		<div class="col-12 col-md-6 offset-md-3" *ngIf="signup">
			<form [formGroup]="signUpForm" (ngSubmit)="collectFormData()">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<span class="sr-only">Firstname</span> <input type="text" name="firstname" class="form-control" placeholder="First name"
						 formControlName="firstName">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<span class="sr-only">Lastname</span> <input type="text" name="lastname" class="form-control" placeholder="last name"
						 formControlName="lastName">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<span class="sr-only">Username</span> <input type="text" name="username" class="form-control" placeholder="User name"
						 formControlName="signUpUserName">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<span class="sr-only">Email address</span> <input type="email" name="email" class="form-control" placeholder="email address"
						 formControlName="email" email>
						 <span class="error" *ngIf="(signUpForm.get('email').touched || signUpForm.get('email').dirty) && signUpForm.get('email').status === 'INVALID'">Email should be valid</span>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<span class="sr-only">Password</span> <input type="password" name="password" class="form-control" placeholder="Password"
						 formControlName="signUpPassword" #password>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<span class="sr-only">Password</span> <input type="password" name="confirmPassword" class="form-control" placeholder="Retype Password"
						 formControlName="confirmPassword" #confirmPassword>
					</div>
					<div class="col-12 col-md-10 col-lg-8 error" *ngIf="(password.value !== confirmPassword.value) && signUpForm.get('confirmPassword').touched">Passwords must match.</div>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<button type="submit" class="btn btn-primary btn-spacing"
						[disabled]="signUpForm.status === 'INVALID' || signUpForm.touched === false">SignUp</button>
					</div>
				</div>
			</form>
		</div>
		<div class="col-12 col-md-6 offset-md-3" *ngIf="login">
			<form novalidate [formGroup]="signInForm" (ngSubmit)="userLogin()">
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<span class="sr-only">Username</span> <input type="text" name="username" class="form-control" placeholder="Username / email"
						 formControlName="signInUserName">
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-12 col-md-10 col-lg-8">
						<span class="sr-only">Password</span> <input type="password" name="password1" class="form-control" placeholder="Password"
						formControlName="signInPassword">
					</div>
				</div>
				<div class="row justify-content-center">
					<p class="col-12 col-md-10 col-lg-8 m-t-sm mb-0"><a href="javascript:void(0)" (click)="signup = true; login = false">Sign up?</a></p>
					<p class="col-12 col-md-10 col-lg-8 error m-t-md" *ngIf="loginErrorMsg">{{loginErrorMsg}}</p>
				</div>
				<div class="row">
					<div class="col-12 text-center">
						<button type="submit" class="btn btn-primary btn-spacing" 
						[disabled]="signInForm.status === 'INVALID'">Login</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</main>