.nav-tabs {
    .nav-item {
        margin-bottom: -2px;
        a {
            color: black;
        }
        .nav-link {
            &.active {
                background: #f0f0f0;
            }
        }
    }
}
.bg-green {
    background-color: #1d991d !important;
    th, td {
        color: white;
    }
}
table {
    th {
        a {
            color: unset;
        }
    }
}
