<nav class="navbar navbar-expand-md row">
	<a class="nav-link col-1" href="javascript:void(0)" [routerLink]="['/home']"><i class="fa fa-home"></i>
		<span class="sr-only">(Home)</span></a>
</nav>
<hr class="divider mt-0">
<main class="container-fluid">
	<div class="row" *ngIf="score">
		<div class="col-12 m-t-xl">
			<h4 class="text-center">{{score?.team["0"].name}} vs {{score?.team["1"].name}}</h4>
			<p class="font-weight-bold text-center" *ngIf="score?.winner_team">{{score?.winner_team}} won</p>
			<p class="lead font-weight-bold">{{finalScore}}</p>
			<ul class="nav nav-tabs">
				<li class="nav-item" *ngFor="let title of score.batting; let idx = index">
					<a class="nav-link lead" href="javascript:void(0)" [ngClass]="idx === 0 ? 'active' : ''" (click)="showInnings(idx)">{{title?.title}}</a>
				</li>
			</ul>
			<table class="table table-striped" *ngFor="let bat of score.batting; let i = index;" [ngClass]="i===id ? '' : 'd-none'">
				<thead>
					<tr>
						<th scope="col">Batsman</th>
						<th scope="col">dismissal</th>
						<th scope="col">4's</th>
						<th scope="col">6's</th>
						<th scope="col">Runs</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let sc of bat.scores" [ngClass]="sc['dismissal-info'] === 'not out' ? 'bg-green' : ''">
						<th scope="row"><a href="javascript:void(0)" [routerLink]="['/player-info', sc.pid]">{{sc.batsman}}</a></th>
						<td>{{sc["dismissal-info"]}}</td>
						<td>{{sc["4s"]}}</td>
						<td>{{sc["6s"]}}</td>
						<td><span *ngIf="sc.R">{{sc.R}}({{sc.B}})</span><span *ngIf="!sc.R">{{sc.detail}}</span></td>
					</tr>
				</tbody>
			</table>
			<h4 class="m-t-xl" *ngFor="let title of score.bowling; let idx = index" [ngClass]="idx===id ? '' : 'd-none'">{{title?.title}}</h4>
			<table class="table table-striped" *ngFor="let ball of score.bowling; let i = index;" [ngClass]="i===id ? '' : 'd-none'">
				<thead>
					<tr>
						<th scope="col">Bowler</th>
						<th scope="col">Runs</th>
						<th scope="col">Maiden</th>
						<th scope="col">Overs</th>
						<th scope="col">Wickets</th>
						<th scope="col">Economy</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let sc of ball.scores">
						<th scope="row"><a href="javascipr:void(0)" [routerLink]="['/player-info', sc.pid]">{{sc.bowler}}</a></th>
						<td>{{sc.R}}</td>
						<td>{{sc.M}}</td>
						<td>{{sc.O}}</td>
						<td>{{sc.W}}</td>
						<td>{{sc.Econ}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</main>
