<div class="carousel d-none d-lg-flex" data-gap="20" data-bfc>
    <figure>
        <div class="card" *ngFor="let mat of matches">
            <!-- <img class="card-img-top" src="../../assets/ind-vs-wi-2nd-test.jpg" alt="Card image"> -->
            <div class="card-body">
                <h4 class="card-title">{{mat["team-1"]}} vs {{mat["team-2"]}}</h4>
                <div class="row">
                    <p class="col-6">{{mat.type}}</p>
                    <p class="col-6 bold text-right"><strong>{{mat.winner_team}}</strong></p>
                </div>
                <div class="card-text">
                    <div class="row">
                        <p class="col-6">Date</p>
                        <p class="col-6 text-right">{{mat.date | date}}</p>
                    </div>
                    <div class="row">
                        <p class="col-6">Match Id</p>
                        <p class="col-6 text-right">{{mat.unique_id}}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center" *ngIf="!mat.matchStarted">
                        <a href="javascript:void(0)" class="btn btn-primary" [ngClass]="{disabled: !mat.squad || activeGame || selectedGame}"
                            (click)="getFullSquad(mat.unique_id)">Select Squad</a>
                    </div>
                    <div class="col-12 text-center" *ngIf="mat.matchStarted">
                        <a href="javascript:void(0)" (click)="getUniqueId(mat.unique_id)" class="btn btn-primary">Match
                            Info</a>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <nav>
        <a href="javascript:void(0)" class="nav prev"><i class="fa fa-chevron-left"></i></a>
        <a href="javascript:void(0)" class="nav next"><i class="fa fa-chevron-right"></i></a>
    </nav>
</div>

<div class="row d-lg-none">
    <div class="col-12 col-md-6" *ngFor="let mat of matches">
        <div class="card m-b-md">
            <!-- <img class="card-img-top" src="../../assets/ind-vs-wi-2nd-test.jpg" alt="Card image"> -->
            <div class="card-body">
                <h4 class="card-title">{{mat["team-1"]}} vs {{mat["team-2"]}}</h4>
                <div class="row">
                    <p class="col-6">{{mat.type}}</p>
                    <p class="col-6 bold text-right"><strong>{{mat.winner_team}}</strong></p>
                </div>
                <div class="card-text">
                    <div class="row">
                        <p class="col-6">Date</p>
                        <p class="col-6 text-right">{{mat.date | date}}</p>
                    </div>
                    <div class="row">
                        <p class="col-6">Match Id</p>
                        <p class="col-6 text-right">{{mat.unique_id}}</p>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-12 text-center" *ngIf="!mat.matchStarted">
                        <a href="javascript:void(0)" class="btn btn-primary" [ngClass]="{disabled: !mat.squad || activeGame}"
                            (click)="getFullSquad(mat.unique_id)">Select Squad</a>
                    </div>
                    <div class="col-12 text-center" *ngIf="mat.matchStarted">
                        <a href="javascript:void(0)" (click)="getUniqueId(mat.unique_id)" class="btn btn-primary">Match
                            Info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>