
// Carousel configuration parameters
$item-width: 50%; // Now we can use percentages!
$item-separation: 0px;
$viewer-distance: 500px;

.carousel {
    padding: 20px;

    perspective: $viewer-distance;
    overflow: hidden;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    > * {
        flex: 0 0 auto;
    }
    
    figure {
        margin: 0;
        // height: 100px;
        
        width: $item-width;
        transform-style: preserve-3d;
        transition: transform 0.5s;
        
        > div {
            // height: 100px;
            // background: rgba(0, 0, 0, 0.8);
            // color: white;
            width: 100%;
            box-sizing: border-box;
            padding: 0 $item-separation / 2;
            
            &:not(:first-of-type) {
                position: absolute;
                left: 0;
                top: 0;
            }

            &.card {
                background: transparent;
                border: 0;
                
                .card-body {
                    background: white;
                    border: 1px solid #BEBEBE;
                }
            }
        }
    }
    
    nav {
        display: flex;
        justify-content: center;
        margin: 20px 0 0;
        width: 100%;
        position: absolute;
        top: 50%;
        
        a {
            position: absolute;
            top: -22px;
            flex: 0 0 auto;
            margin: 0 5px;
            cursor: pointer;
            color: white;
            background: rgba(0, 0, 0, 0.4);
            font-size: 30px;
            letter-spacing: 1px;
            padding: 5px 10px;
            &:first-of-type {
                left: 0;
            }
            &:last-of-type {
                right: 0;
            }
            &:hover, &:focus {
                background: rgba(0, 0, 0, 0.8);
                text-decoration: none;
            }

        }
    }
    
}
