<nav class="navbar navbar-expand-md row">
	<a class="nav-link col-1" href="javascript:void(0)" [routerLink]="['/home']"><i class="fa fa-home"></i>
		<span class="sr-only">(Home)</span></a>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-7">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Score</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let score of userList" (click)="getSquadList(score.id, score.firstName)">
						<td>{{score.firstName}} {{score.lastName}}</td>
						<td>{{score.fantasyScore}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="col-5">
			<table class="table table-striped">
				<thead>
					<tr>
						<th><span *ngIf="userName">{{userName}}'s squad</span></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let player of players">
						<td>{{player.playerName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>