<nav class="navbar navbar-expand-md row">
    <a class="nav-link col-2" href="javascript:void(0)" [routerLink]="['/home']"><i class="fa fa-home"></i>
        <span class="sr-only">(Home)</span></a>
    <button class="btn col-5 offset-5 col-md-2 offset-md-8" (click)="goToDashboard()">Leaderboard</button>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center m-t-sm">{{matchTitle}}</h3>
            <div class="row">
                <p class="col-12 lead text-right"><a href="javascript:void(0)" (click)="editPlayers()" [class.disabled]="matchStarted">Edit</a></p>
            </div>
            <ul *ngIf="!playerRecord">
                <li *ngFor="let player of dataService.players"><a href="javascript:void(0)" [routerLink]="['/player-info', player.playerId]">{{player.playerName}}</a></li>
            </ul>
            <ng-container *ngIf="playerRecord">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Runs</th>
                            <th scope="col">4s</th>
                            <th scope="col">6s</th>
                            <th scope="col">Wickets</th>
                            <th scope="col">Fielding</th>
                            <th scope="col" class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let record of dataService.playerRecord">
                            <td class="font-weight-bold">
                                <a href="javascript:void(0)" [routerLink]="['/player-info', record?.pid]" [innerHTML]="record?.batsman"
                                    *ngIf="record?.batsman"></a>
                                <a href="javascript:void(0)" [routerLink]="['/player-info', record?.pid]" [innerHTML]="record?.name"
                                    *ngIf="!record?.batsman"></a>
                            </td>
                            <td [innerHTML]="record?.R">{{record?.R}}</td>
                            <td [innerHTML]="record['4s']"></td>
                            <td [innerHTML]="record['6s']"></td>
                            <td><span [innerHTML]="record?.wickets" *ngIf="record?.wickets > 0"></span></td>
                            <td [innerHTML]="record?.fielding"></td>
                            <td [innerHTML]="record?.playerTotal" class="text-right font-weight-bold lead"></td>
                        </tr>
                        <tr *ngFor="let extra of dataService.extraPlayers" class="table-danger">
                            <td colspan="7">
                                <a href="javascript:void(0)" [routerLink]="['/player-info', extra?.playerId]"><span
                                        class="font-weight-bold">{{extra?.playerName}}</span></a> {{playerStatus}}</td>
                        </tr>
                        <tr>
                            <td class="font-weight-bold lead">Total</td>
                            <td class="font-weight-bold text-right lead" colspan="6">{{dataService.userScore}}</td>
                        </tr>
                    </tbody>
                </table>
            </ng-container>
            <div class="row no-navbar">
                <div class="col-12 text-center">
                    <button class="btn btn-primary btn-spacing mt-0" (click)="getMatchInfo()">Match info</button>
                </div>
            </div>
            <ng-container *ngIf="showMatchInfo">
                <fc-match-details></fc-match-details>
            </ng-container>
        </div>
    </div>
</div>
