.bg-img {
    height: 400px;
    width: 100%;
    background-image: url(../../assets/cric-gorund.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.table-danger {
    td {
        background-color: firebrick;
        color: white;
        a {
            color: white;
        }
    }
}
