<div class="scroll-prompt" [class.d-none]=hideScroller>
    <a class="scroll-prompt-arrow-container" href="javascript:void(0)" (click)="scrollDown()">
        <div class="scroll-prompt-arrow">
            <div></div>
        </div>
        <div class="scroll-prompt-arrow">
            <div></div>
        </div>
    </a>
</div>