.scroll-prompt {
    position: fixed;
    z-index: 998;
    bottom: -40px;
    left: 50%;
    margin-left: -30px;
    width: 60px;
    height: 130px;
    font-size: medium;
    font-family: 'Tele-Grotesk', Arial, "Helvetica Neue", Helvetica, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    font-weight: 100;
    .scroll-prompt-arrow-container {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -18px;
        animation-name: bounce;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    .scroll-prompt-arrow {
        animation-name: opacity;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        > div {
            width: 40px;
            height: 40px;
            border-right: 6px solid #767676;
            border-bottom: 6px solid #767676;
            transform: rotate(45deg) translateZ(1px);
            -webkit-transform: rotate(45deg) translateZ(1px);
        }
        &:last-child {
            animation-direction: reverse;
            margin-top: -6px;
        }
    }
}
@keyframes opacity {
    0% {
        opacity: 0;
    }
    10% {
        opacity: .1;
    }
    20% {
        opacity: .2;
    }
    30% {
        opacity: .3;
    }
    40% {
        opacity: .4;
    }
    50% {
        opacity: .5;
    }
    60% {
        opacity: .6;
    }
    70% {
        opacity: .7;
    }
    80% {
        opacity: .8;
    }
    90% {
        opacity: .9;
    }
    100% {
        opacity: 1;
    }
}
@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(3px);
    }
    20% {
        transform: translateY(6px);
    }
    30% {
        transform: translateY(9px);
    }
    40% {
        transform: translateY(12px);
    }
    50% {
        transform: translateY(15px);
    }
    60% {
        transform: translateY(18px);
    }
    70% {
        transform: translateY(21px);
    }
    80% {
        transform: translateY(24px);
    }
    90% {
        transform: translateY(27px);
    }
    100% {
        transform: translateY(33px);
    }
}