* {
    margin: 0;
    padding: 0;
}

/*
* spacing classes
*/

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t-md {
    margin-top: 15px;
}

.m-t-lg {
    margin-top: 20px;
}

.m-t-xl {
    margin-top: 35px;
}

.m-t-xxl {
    margin-top: 50px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b-md {
    margin-bottom: 15px;
}

.m-b-lg {
    margin-bottom: 20px;
}

.m-b-xl {
    margin-bottom: 35px;
}

.m-b-xxl {
    margin-bottom: 50px;
}

/* Button component */

.btn {
    &:not(.disabled) {
        &:not([disabled]) {
            &:hover,
            &:focus {
                background-color: rgba(0, 105, 217, 0.4);
                border-color: rgba(0, 105, 217, 0.4);
                color: black;
            }
        }
    }
    &.disabled, &[disabled] {
        background-color: rgba(0, 105, 217, 0.3);
        border-color:  rgba(0, 105, 217, 0.3);
        color: black;
        cursor: not-allowed;
    }
    &.btn-spacing {
        margin-top: 35px;
        margin-bottom: 35px;
        text-align: center;
        min-width: 210px;
        width: 210px;
    }
}

.no-navbar {
    + fc-match-details {
        nav {
            display: none;
        }
    }
}

.add-icon,
.add-icon:hover {
    color: green;
}

.minus-icon,
.minus-icon:hover {
    color: red;
}

a {
    &.disabled {
        cursor: not-allowed;
        pointer-events: none;
        color: #bebebe;
    }
}

nav {
    background-color: #007bff;
    a {
        color: white;
        &:hover, &:focus {
            color: rgba(255, 255, 255, 0.8);
        }
        &.disabled {
            color: rgba(255, 255, 255, 0.5)!important;
        }
    }
    button {
        background-color: white;
        color: #007bff;
        &:hover, &:focus {
            background-color: rgba(255, 255, 255, 0.5) !important;
        }
    }
}

.form-control {
    margin-top: 15px;
}
