body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    margin-bottom: 1.5em;
}
@media screen and (max-width: 767px) {
    .display-4 {
        font-size: 2.5rem;
    }
}

h2 {
    text-align: center;
    color: #555;
    margin-bottom: 0;
}

.auto-complete {
    position: absolute;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: #e9ecef;
    padding: 15px;
    max-height: 350px;
    overflow: auto;
    height: auto;
    width: 24.4%;
    top: 47px;
    right: 17.4%;
    z-index: 1;
    @media screen and (max-width: 767px) {
        width: 93%;
        right: 15px;
        top: 55px;
    }
    a {
        color: #007bff;
    }
}

ul {
    &.bulletted-list {
        padding-left: 20px;
    }
}
