<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-md row">
    <a class="nav-link col-2" href="javascript:void(0)" [routerLink]="['/player-selction']" [class.disabled]="!userId"><i
        class="fa fa-home"></i><span class="d-none d-md-inline"*ngIf="userName"> Hi, {{userName}}</span><span class="sr-only">(Home)</span></a>

    <input class="form-control mr-md-2 mt-0 search-input col-6 col-md-3 offset-md-5" name="search" type="search" placeholder="Search"
        aria-label="Search" [(ngModel)]="playerName" id="searchPlayer" (keyup)="findPlayer(playerName)" autocomplete="off">
    <div class="auto-complete" *ngIf="playerData && !noPlayer">
        <p *ngFor="let player of playerData"><a href="javascript:void(0)" (click)="playerInfo(player.pid)">{{player?.fullName}}</a></p>
    </div>
    <button class="btn col-3 col-md-2" (click)="userLogout()" [innerHTML]="(userName) ? 'Logout' : 'Login'"></button>
</nav>
<main>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">

            <p class="display-4">Welcome to Fantasy Cricket</p>
            <div class="row">
                <div class="col-12 col-md-6">
                    <h4>How to play</h4>
                    <ul class="bulletted-list">
                        <li>Select match squad</li>
                        <li>Choose players</li>
                        <li>Edit them if you think someone else is better</li>
                        <li>Sit back and wait until you win</li>
                    </ul>
                </div>
                <div class="col-12 col-md-6">
                    <h4>Rules:</h4>
                    <ul class="bulletted-list">
                        <li>1 run = 1 point</li>
                        <li>Boundary = 5 point</li>
                        <li>Six = 10 point</li>
                        <li>Catch = 10 point</li>
                        <li>Stumping = 10 point</li>
                        <li>Runout = 10 point</li>
                        <li>Wicket = 20 point</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <h2>{{title}} Games</h2> -->
    <ng-container *ngIf="matches">
        <fc-carousel-component [matches]="matches" [userId]="userId"></fc-carousel-component>
    </ng-container>

    <fc-scroller [hideScroller]=pageAtBottom></fc-scroller>
</main>
<footer></footer>
